DATABASE_URL=postgresql://user:password@your-neon-hostname/dbname?sslmode=require
API_SECRET_TOKEN=your-secret-token-here
CRON_INTERVAL_MS=900000#15 minutes
# --------- JWT ---------
JWT_SECRET=your_super_secret_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
JWT_RESET_EXPIRATION=1h

# --------- Frontend ---------
FRONTEND_URL=http://localhost:5173

# --------- Mail Service (notisend) ---------
MAIL_SERVICE_URL=http://localhost:3000
MAIL_API_KEY=your-mail-api-key

